
 

  <div class="glider-contain multiple">
    <div id="glider" class="glider">
     
        <div *ngFor="let date of listOfDates; ">
              {{ date.date }}
        </div>  
      
    </div>

    <button role="button" aria-label="Previous" class="glider-prev">«</button>
    <button role="button" aria-label="Next" class="glider-next">»</button>
    <!-- <div role="tablist" class="dots"></div> -->
  </div>

  <button (click)="OnAddClick()">add</button>
  <button (click)="OnRemoveClick()">remove</button>
 
