
 

  <div class="glider-contain multiple">
    <div class="glider">
      <div>
        <mat-card (click)="sayHello()" class="date-card">
          <label>Hello There 1</label>
        </mat-card>
      </div>
      <div>
        <mat-card (click)="sayHello()" class="date-card">
          <label>Hello There 2</label>
        </mat-card>
      </div>
      <div>
        <mat-card (click)="sayHello()" class="date-card">
          <label>Hello There 3</label>
        </mat-card>
      </div>
      <div>
        <mat-card (click)="sayHello()" class="date-card">
          <label>Hello There 4</label>
        </mat-card>
      </div>
      <div>
        <mat-card (click)="sayHello()" class="date-card">
          <label>Hello There 5</label>
        </mat-card>
      </div>
        
      
    </div>

    <button role="button" aria-label="Previous" class="glider-prev">«</button>
    <button role="button" aria-label="Next" class="glider-next">»</button>
    <!-- <div role="tablist" class="dots"></div> -->
  </div>


 
